.light{
    --background-color: rgb(255, 255, 255);
    --primary-text-color: rgb(51, 51, 51);
}

.dark{
    --background-color: rgb(51, 51, 51);
    --primary-text-color: rgb(255, 255, 255);
}

:root {
    --background-color: white;
    --primary-text-color: black;
}