.light{
    --background-color: rgb(255, 255, 255);
    --primary-text-color: rgb(51, 51, 51);
    --primary-title-color: #cc0f0f;
    --card-bg: rgb(255, 255, 255);
    --primary-title-card-color: #cc0f0f;
}

.dark{
    --background-color: rgb(51, 51, 51);
    --primary-text-color: rgb(255, 255, 255);
    --primary-title-color: rgb(255, 255, 255);
    --card-bg: rgb(94, 92, 92);
    --primary-title-card-color: #ffbfbf;
}

:root {
    --background-color: white;
    --primary-text-color: black;
    --primary-title-color: #cc0f0f;
    --card-bg: rgb(255, 255, 255);
    --primary-title-card-color: #cc0f0f;
}