.creator {
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 20px;
    left: 3vw;
    z-index: 100;
    opacity: 0.6;
    transition: 0.2s ease-out;
}

.creator:hover{
    transition: 0.2s ease-in;
    font-size: 110%;

}

.appBody{
    background-color: #b5e0ff;
    min-height: 100vh
}