.switchBtn {
    padding: 0.5vh 1vw;
    border-radius: 10px;
    border: 3px solid rgb(255, 168, 168);
    background-color: rgb(255, 42, 42);
    color: white;
    cursor: pointer;
    font-size: 120%;

    position: fixed;
    right: 3vw;
    bottom: 20px;
    z-index: 100;
    transition: 0.2s ease-out;
}

.switchBtn:hover{
    transition: 0.2s ease-in;
    background-color: rgb(201, 7, 7);
    border-color: rgb(255, 42, 42);
    font-size: 130%;
}